---
import { formatBlogPosts } from "../js/utils";

const allPosts = await Astro.glob('../pages/blog/*md');
const formattedPosts = formatBlogPosts(allPosts);


const allPostsAndUrls= formattedPosts.map((post)=>{
    const objetoPost = {
        postFrontmatter : post.frontmatter,
        url: post.url
    }
    return objetoPost
})

const {category} = Astro.props

const postsRelateds = allPostsAndUrls.filter((post)=>{
    if (post.postFrontmatter.category === category){
        return post;
    }
});


console.log('posts relatedes',postsRelateds)
---

<ul class="categories">
   {postsRelateds.map(post=>(
    <li>
        <a href={post.url}>{post.postFrontmatter.title}</a>
    </li>
    ))}
</ul>